doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title GPS Tracker
    meta(name="description", content="GPS Tracker App")

    script(src="/js/jquery-3.0.0-rc1.js")
    script(src="/js/lodash.js")

    link(rel="stylesheet", href="/css/leaflet.css")
    link(rel="stylesheet", href="/css/leaflet-routing-machine/leaflet-routing-machine.css")
    script(src="/js/leaflet.js")
    script(src="/js/leaflet-routing-machine.js")

    script(src="/js/app.js")
    link(rel="stylesheet", href="/css/app.css")

  body
    #map
    script.
      window.mapboxAccessToken = "#{mapboxAccessToken}";
      window.clientId = "#{clientId}";
      main()
