doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title GPS Tracker
    meta(name="description", content="GPS TrackMe App")

    script(src="../js/jquery-3.0.0.min.js")
    script(src="../js/lodash.js")

    script(src="../js/trackme.js")

  body
    Tracking your device - #{deviceId}
    #locations
    script.
      window.mapboxAccessToken = "#{mapboxAccessToken}";
      window.deviceId = "#{deviceId}";
      main()
